ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

body {
	margin: 0 auto;
	max-width: 1925px;
	line-height: 1.5;
	font-size: 14px;
	font-family: 'Montserrat-Regular';
    overflow-x: hidden;
}

.section-head p {
    animation-delay: 0.3s;
}

/* Menu Toggle Button */
.menu-btn-wrap {
  display: table;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  display: none;
}
.menu-btn {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}


/* Header css*/

header {
	padding-top: 40px;
	height: 968px;
	background: url(./img/bg_1.jpg) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.top-row {
    position: relative;
    justify-content: space-between;
    height: 75px;
}

.logo {
	width: 190px;
	height: 74px;
	display: block;
}

.logo h1 {
	display: inline-block;
	color: #fff;
	font-family: 'Raleway-Regular';
	font-weight: normal;
	font-size: 34px;
	margin-top: 12px;

}

.logo > img {
	width: 65px;
	height: auto;
	float: left;
}

.nav {
    height: 75px;
    line-height: 75px;
    text-align: right;
}

.nav li {
	float: left;
}

.nav a {
	padding: 10px 15px;
}

.nav > .active > a {
	color: #c7b299;
}

.icon {
	width: 20px;
	margin: 12px 18px;
	height: 26px;
	margin-top: 13px;
	text-align: center;
	font-size: 21px;
	color: #fff;
	cursor: pointer;
}

.icon-search i:hover {
	color: #eee;
}

.icon:hover {
	color: #c7b299;
}

.icon-cart {
	width: 20px;
	margin: 12px 18px;
}


.slogan {
	text-align: center;
	color: #fff;
	max-width: 595px;
	margin: 0 auto;
	margin-top: 250px;
	font-size: 16px;
	font-family: "Montserrat-Light";
}

.slogan h3 {
	font-size: 36px;
	font-family: 'Raleway-Medium';
    font-weight: normal;
}

.slogan h2 {
	margin: -32px 0 10px 0;
	font-size: 52px;
	font-family: 'Raleway-ExtraBold';
}

.slogan p {
  margin-bottom: 25px;
}

.slogan .button {
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}

.button {
	background-color: #998675;
	text-transform: uppercase;
	display: inline-block;
	border: none;
	text-decoration: none;
	color: #fff;
	padding: 15px 50px;
	font-family: 'Raleway-ExtraBold';
	font-size: 14px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: 0;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.button::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	background-color: #736357;
	height: 4px;
}

.button:focus,
.button:hover {
	text-decoration: none;
}

.button:hover {
	background-color: #736357;
}

.button:hover::after {
	background-color: #65564b;
}

.button:active {
	transform: translateY(4px);
	background-color: #5f5248;
	padding-bottom: 11px;
}

.button:active::after {
	background-color: #5f5248;
}
